body{
    font: optional;
}
/* h1,h2{
    font-family: "Ubuntu";
}
img{
    width: 40px;
    height: 60px;
}
.iceput{
    display: flex;
}
.imaginea{
    width: 100px;
    height: 180px;
    border: 10px;
} */
 /*div{
    width: 30px;
    height: 30px;
    background-color: aliceblue;*/
 
 .primu{
    background-color: aliceblue;
    width: 400px;
    height: 300px;
 }