 body{
    
 }
 div {
    width: 400px;
    height: 4000px;
    background-color: aqua;
    text-align: center;
    border: 2px solid yellow;
    padding: 15px;
}
    /* div nu folosim asa  */

/* pentru select clasa*/
.green{
    background-color: blue;
}